* {
    font-family: 'League Spartan', sans-serif; 
    box-sizing:border-box;
}

body {
    background-color: #F6DDE0;
    margin:0;
}

.selected-page {
    font-weight:600;
}

#achievements {
    height:100px;
    overflow-y:auto;
}

@media (min-width:1024px) {
    .fox {
        height:100px;
    }

    nav {
        display:flex;
        padding-top:20px;
        flex-direction: row;
        justify-content: space-around;
        
    }

    nav a {
        text-decoration: none;
        color:#6E5B48;
        font-weight:500;
    }

    .header-flex h1 {
        color:#6E5B48;
        font-size:100px;
        font-weight:500;
    }

    .header-flex h2 {
        font-size:60px;
        font-weight:500;
        color:#6E5B48;
    }

    .original {
        width:100%;
        justify-content: space-around;
        display:flex;
        margin-bottom:200px;
    }

    #head-1 {
        width:50%;
    }

    #contact-head {
        width:50%;
    }

    #contact-head h1 {
        font-weight: 600;
    }

    #contact-head h2 {
        font-weight: 400;
    }

    #contact-head p {
        color:#6E5B48;
        font-size:26px;
    }

    #head-2  {
        width:20%;
        text-align: left;
    }

    .middle-flex {
        flex-direction: row;
        display:flex;
        width:100%;
        
    }

    .middle {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }

    .line-flex {
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;

    }

     #special {
        height:400px;
        margin-top:0;
    }

    .line {
        border-left: 6px solid #6E5B48;
        height: 300px;
        width:5%;
        flex-direction: row;
        display:flex;
        align-self: center;
        margin-bottom:0;
    }

   

    hr {
        width:71.7%;
        margin-top:0;
        margin-bottom:0;
        border:3px solid;
        color:#6E5B48;

    }

    .thirds {
        width:100%;
        display:flex;
        justify-content: space-around;
        /* justify-content: space-between; */
        font-size:60px;
        color:#6E5B48;
        background: rgb(241,158,160);
    background: linear-gradient(180deg, rgba(241,158,160,1) 41%, rgba(246,221,224,1) 100%);
        
    }

    .thirds > h3 {
        display:inline-block;
    }

    .thirds h3 {
        font-weight:400;
    }

    .intro-img img {
        border-radius: 100%;
        height:400px;
        border: 5px solid white;
    }

    .intro-img {
        width:23.5%;
    }

    .home-intro {
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
    }

    .stats img { 
        height:40px;
        text-align:right;
        width: 10%;
    }

    .hearts {
        display:flex;
        flex-direction:row;
    }

    .stats {
        width:20%;
        display: flex;
        font-size:24px;
        text-align:right;
        flex-direction: column;
        color:#6E5B48;
        justify-content: center;
    }

    .stats h4 {
        font-weight:500;
        text-align:left;
    }

    .intro {
        width:20%;
        display:flex;
        flex-direction: column;
        font-weight:500;
        font-size:24px;
        color:#6E5B48;
    }

    footer {
        display:flex;
        flex-direction: row;
        line-height: 150%;
        margin-top:50px;
        height:fit-content;
        background: rgb(241,158,160);
        background: linear-gradient(0deg, rgba(241,158,160,1) 60%, rgba(246,221,224,1) 100%);
        color:black;
        
    }

    .footer-left {
        width:50%;
        height:200px;
        font-size:24px;
        padding-bottom:100px;
        padding-top:200px;
        padding-left:100px;
    }

    .footer-right {
        width:50%;
        font-size:20px;
        line-height: 150%;
        text-align:right;
        padding-bottom:100px;
        padding-top:200px;
        padding-right:100px;
    }

    footer li,
    footer a {
        text-decoration: none;
        color:black;
        list-style-type: none;
        font-size:20px;
    }

    .slider-info {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        overflow:hidden;
        height:150px;
    }

    .slider-info img {
        display:none;
    }

    .slider-info h3 {
        text-align: center;
    }

    .dot {
        background-color: hotpink;
        padding:8px;
        border-radius: 50%;
        margin:10px;
    }

    #link {
        display:flex;
        flex-direction: column;
        font-size:24px;
        text-align: center;
    }

    .letters {
        display:flex;
        margin-top:200px;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
    }

    .letters-text {
        text-align:center;
        font-size:24px;
        margin-bottom:200px;
    }

    .resume {
        color:#6E5B48;
        text-align: left;
        width:90%;
        padding-left:150px;
    }

    .resume h1 {
        font-size:50px;
    }

    .resume h2 {
        font-weight:600;
    }

    .resume li {
        font-size:20px;
    }

    .head {
        display:flex;
        width:100%;
        flex-direction: row;
    }

    .head-text,
    .color-bg {
        width:50%;
    }

    .contact-form {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .left-content {
        width:50%;
        color:#6E5B48;
        font-size:26px;
    }

    .right-content {
        width:25%;
        background-color: #F6DDE0;
        display:flex;
        flex-direction: column;
    }

    .name,
    .email,
    .subject,
    #message {
        color:white;
        margin-bottom:10px;
        padding-bottom:20px;
        font-size:26px;
        background-color:#EBADB2;
        border: 5px solid white;
        border-radius:2%;
    }

    #submit {
        padding-bottom:20px;
        background-color:#C77A80;
        border: 5px solid white;
        color:white;
        width:25%;
        padding:25px;
        font-size:26px;
    }

    .socials a {
        margin-top: 100px;
    }

    .socials img {
        max-width:100%;
        height: 200px;
    }

    .socials {
        display:flex;
        justify-content: space-around;
    }

    #submit p {
        text-align:center;
    }

    ::placeholder {
        color:white;
    }

    .frame {
    background-color: #EBADB2;
    border:5px solid white;
    border-radius: 25px;
    height: 500px;
    align-items: center;
    width: 40%;
    
    display:flex;
    justify-content: center;
}

.frame {
    margin-top:200px;
}

.sample {
    animation: scroll 20s linear infinite;
    display:flex;
    margin-right:50px;
    width:1200px;
}

#write {
    animation: scroller 2.5s linear infinite;
}

@keyframes scroller {
    100% { 
        transform: translateX(-125%); 
    }
}

@keyframes scroll {
    100% { 
        transform: translateX(-318%); 
    }
}

 

    #web img {
        height:400px;
        width:800px;
    }

    #writing img {
        height:600px;
        width:500px;
    }

    #art img {
        width:600px;
        height:400px;
    }

    #art-2 img {
        width:500px;
        height:500px;
    }

    .carousel {
        text-align: center;
        display:flex;
        overflow:hidden;
        position:relative;
        width: 800px;
        height:400px;
        align-items: center; 
      }

      .carousel-1 {
        text-align: center;
        display:flex;
        overflow:hidden;
        position:relative;
        width: 800px;
        height:400px;
        align-items: center;
        
      }

      .portfolio p,
      .portfolio h2 {
        font-weight:500;
      }

      

      .portfolio {
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        color:#6E5B48;
      }

      .grid {
        display:grid;
        margin-bottom: 100px;
        grid-template-rows: 300px auto 300px;
        grid-template-columns: 20% 30% 30% 20%;
      }

      .grid img {
        height:100px;
      }


      /* icon */
      #grid1 {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
      }

      /* info */
      #extragrid {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 3;
        grid-column-end: 3;
        text-align:left;
        color:#6E5B48;
      }

      #extragrid h1 {
        font-weight:400;
        font-size:50px;
      }

      #extragrid h3 {
        font-weight:300;
        font-size:34px;
        width:75%;
      }

      /* tetris */
      #grid2 {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        background-repeat: no-repeat;
        background-size:cover; 
        border: 5px solid white;
        border-radius: 20px;
        margin:20px;
        background-image: url(images/tetris.jpg);
      }

      /* vol */
      #grid3 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3; 
        display:flex;
        flex-direction: row;
        text-align:center;
        justify-content: space-around;
      }

      /* draw */
      #grid4 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4; 
        flex-direction: row;
        display:flex;
        text-align:center;
        justify-content: space-around;
      }

      /* game */
      #grid7 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4; 
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        text-align:center;
      }

      /* top 5 */
      #grid5 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 4; 
      }

      #grid5 h3,
      #grid5 li {
        padding:15px;
      }

      /* PST */
      #grid6 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 4; 
        flex-direction: row;
        display:flex;
        text-align:center;
      }

      #icon {
        border-radius: 100%;
        height:250px;
        border: 5px solid white;
      }

      .cosmetic {
        background-color: #EAAEB5;
        border: 5px solid white;
        border-radius: 20px;
        margin:20px;
        color:white;
        font-size:30px;
      }
}


