* {
    font-family: 'League Spartan', sans-serif; 
    box-sizing:border-box;
}

body {
    background-color: #F6DDE0;
    margin:0;
}

.selected-page,
#selected-page {
    font-weight:600;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


/* computer query */
@media (min-width:1024px) {
    #achievements {
        height:500px;
        overflow-y:auto;
        display:grid;
        margin-bottom: 200px;
    }
    
    .achaward {
        width:100%;
    }

    .achaward h2 {
      text-align: center;
      font-size:45px;
      color:#6E5B48;
      font-weight:400;
    }

    .fox {
        height:100px;
    }

    nav {
        display:flex;
        padding-top:20px;
        flex-direction: row;
        justify-content: space-around;
    }

    #margin {
        margin-bottom:50px;
    }

    nav a {
        text-decoration: none;
        color:#6E5B48;
        font-weight:500;
    }

    .header-flex h1 {
        color:#6E5B48;
        font-size:100px;
        font-weight:500;
    }

    .header-flex h2 {
        font-size:60px;
        font-weight:500;
        color:#6E5B48;
    }

    .original {
        width:100%;
        justify-content: space-around;
        display:flex;
        margin-bottom:200px;
    }

    #head-1 {
        width:50%;
    }

    #contact-head {
        width:50%;
    }

    #contact-head h1 {
        font-weight: 600;
    }

    #contact-head h2 {
        font-weight: 400;
    }

    #contact-head p {
        color:#6E5B48;
        font-size:26px;
    }

    #head-2  {
        width:20%;
        text-align: left;
    }

    .middle-flex {
        flex-direction: row;
        display:flex;
        width:100%;
        
    }

    .middle {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        
        
        
    }

    .code {
        transform: translateX(-150px);
        opacity: 0;
        position:relative;
        transition: 1s all ease;
    }

    .code.active {
        transform: translateY(0);
    opacity: 1;
    }

    .line-flex {
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;

    }

     #special {
        height:400px;
        margin-top:0;
    }

    .line {
        border-left: 6px solid #6E5B48;
        height: 300px;
        width:5%;
        justify-content: center;
        flex-direction: row;
        display:flex;
        align-self: center;
        margin-bottom:0;
    }

   

    hr {
        width:50%;
        display:flex;
        justify-content: center;
        text-align:center;
        margin-top:0;
        margin-bottom:0;
        border:3px solid;
        color:#6E5B48;

    }

    .thirds {
        width:100%;
        display:flex;
        justify-content: space-around;
        /* justify-content: space-between; */
        font-size:60px;
        color:#6E5B48;
        background: rgb(241,158,160);
    background: linear-gradient(180deg, rgba(241,158,160,1) 41%, rgba(246,221,224,1) 100%);
        
    }

    .thirds > h3 {
        display:inline-block;
    }

    .thirds h3 {
        font-weight:400;
    }

    .intro-img img {
        border-radius: 100%;
        height:400px;
        border: 5px solid white;
    }

    .intro-img {
        width:23.5%;
    }

    .home-intro {
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
    }

    .stats img { 
        height:40px;
        text-align:right;
        width: 10%;
    }

    .hearts {
        display:flex;
        flex-direction:row;
    }

    .stats {
        width:20%;
        display: flex;
        font-size:24px;
        text-align:right;
        flex-direction: column;
        color:#6E5B48;
        justify-content: center;
    }

    .stats h4 {
        font-weight:500;
        text-align:left;
    }

    .intro {
        width:20%;
        display:flex;
        flex-direction: column;
        font-weight:500;
        font-size:24px;
        color:#6E5B48;
    }

    footer {
        display:flex;
        flex-direction: row;
        line-height: 150%;
        margin-top:50px;
        height:fit-content;
        background: rgb(241,158,160);
        background: linear-gradient(0deg, rgba(241,158,160,1) 60%, rgba(246,221,224,1) 100%);
        color:black;
        
    }

    .footer-left {
        width:50%;
        height:200px;
        font-size:24px;
        padding-bottom:100px;
        padding-top:200px;
        padding-left:100px;
    }

    .footer-right {
        width:50%;
        font-size:20px;
        line-height: 150%;
        text-align:right;
        padding-bottom:100px;
        padding-top:200px;
        padding-right:100px;
    }

    footer li,
    footer a {
        text-decoration: none;
        color:black;
        list-style-type: none;
        font-size:20px;
    }

    .slider-info {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        overflow:hidden;
        height:850px;
        color:#6E5B48;
    }

    .slider-info h2,
    .slider-info h3 {
        font-size:40px;
    }

    .slider-info p {
        font-size:20px;
    }

    .slider-info img {
        display:none;
    }

    .about-sec img {
        display:flex;
        width:100%;
        justify-content: center;
        height:600px;
        border: 5px solid white;
        border-radius:25px;
    }

    .slider-info h3 {
        text-align: center;
    }

    .dot {
        background-color: hotpink;
        padding:8px;
        border-radius: 50%;
        margin:10px;
    }

    #link {
        display:flex;
        flex-direction: column;
        font-size:24px;
        text-align: center;
    }

    .letters {
        display:flex;
        margin-top:200px;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
    }

    .letters-text {
        text-align:center;
        font-size:24px;
        margin-bottom:200px;
    }

    .resume {
        color:#6E5B48;
        text-align: left;
        width:90%;
        padding-left:150px;
    }

    .resume h1 {
        font-size:50px;
    }

    .resume h2 {
        font-weight:600;
    }

    .resume li {
        font-size:20px;
    }

    .head {
        display:flex;
        width:100%;
        flex-direction: row;
    }

    .head-text,
    .color-bg {
        width:50%;
    }

    .contact-form {
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .left-content {
        width:50%;
        color:#6E5B48;
        font-size:26px;
    }

    .right-content {
        width:25%;
        background-color: #F6DDE0;
        display:flex;
        flex-direction: column;
    }

    .name,
    .email,
    .subject,
    #message {
        color:white;
        margin-bottom:10px;
        padding-bottom:20px;
        font-size:26px;
        background-color:#EBADB2;
        border: 5px solid white;
        border-radius:2%;
    }

    #submit {
        padding-bottom:20px;
        background-color:#C77A80;
        border: 5px solid white;
        color:white;
        width:25%;
        padding:25px;
        font-size:26px;
    }

    .socials a {
        margin-top: 100px;
    }

    .socials img {
        max-width:100%;
        height: 200px;
    }

    .socials {
        display:flex;
        justify-content: space-around;
    }

    #submit p {
        text-align:center;
    }

    ::placeholder {
        color:white;
    }

    .frame {
    background-color: #EBADB2;
    border:5px solid white;
    border-radius: 25px;
    height: 500px;
    align-items: center;
    width: 40%;
    
    display:flex;
    justify-content: center;
}

.frame {
    margin-top:200px;
}

.sample {
    animation: web-scroll 20s linear infinite;
    display:flex;
    margin-right:50px;
    width:1200px;
}

.write {
    animation: write-scroll 10s linear infinite;
    display:flex;
    margin-right:50px;
    width:1200px;
}

  .art {
    display:flex;
    justify-content: space-between;
    width:1200px;
    margin-right:50px;
    animation: art-scroll 8s linear infinite;
}

@keyframes write-scroll {
    100% { 
        transform: translateX(-220%); 
    }
}

@keyframes web-scroll {
    100% { 
        transform: translateX(-318%); 
    }
}

@keyframes art-scroll {
  100% { 
      transform: translateX(-219.9%); 
  }
}

 

    #web img {
        height:400px;
        width:800px;
    }

    #writing img {
        height:600px;
        width:500px;
    }

    .art img {
        width:500px;
        height:450px;
    }

    .carousel {
        text-align: center;
        display:flex;
        overflow:hidden;
        position:relative;
        width: 800px;
        height:400px;
        align-items: center; 
      }

      .carousel-1 {
        text-align: center;
        display:flex;
        overflow:hidden;
        position:relative;
        width: 800px;
        height:400px;
        align-items: center;
        
      }

      .portfolio p,
      .portfolio h2 {
        font-weight:500;
      }

      .portfolio h2 {
        font-size:45px;
      }

      .portfolio p {
        font-size:24px;
        width:50%;
        text-align: left;
      }

      

      .portfolio {
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        color:#6E5B48;
      }

      .grid {
        display:grid;
        margin-bottom: 100px;
        grid-template-rows: 300px auto 300px;
        grid-template-columns: 20% 30% 30% 20%;
      }

      

      .grid img {
        height:100px;
      }


      /* icon */
      #grid1 {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: center;
      }

      /* info */
      #extragrid {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 3;
        grid-column-end: 3;
        text-align:left;
        color:#6E5B48;
      }

      #extragrid h1 {
        font-weight:400;
        font-size:50px;
      }

      #extragrid h3 {
        font-weight:300;
        font-size:34px;
        width:75%;
      }

      /* tetris */
      #grid2 {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        background-repeat: no-repeat;
        background-size:cover; 
        border: 5px solid white;
        border-radius: 20px;
        color:white;
        margin:20px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        background-color:#EAAEB5;
      }

      #grid2 img {
        height:300px;
        width:100%;
      }

      #grid2 p {
        font-size:40px;
        font-weight:600;
        width:100%;
        text-align:center;
      }

      /* vol */
      #grid3 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3; 
        display:flex;
        flex-direction: row;
        text-align:center;
        justify-content: space-around;
      }

      /* draw */
      #grid4 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4; 
        flex-direction: row;
        display:flex;
        text-align:center;
        justify-content: space-around;
      }

      /* game */
      #grid7 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 4; 
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        text-align:center;
      }

      /* top 5 */
      #grid5 {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 4; 
      }

      #grid5 h3,
      #grid5 li {
        padding:15px;
      }

      /* PST */
      #grid6 {
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 4;
        grid-column-end: 4; 
        flex-direction: row;
        display:flex;
        text-align:center;
      }

      #icon {
        border-radius: 100%;
        height:250px;
        border: 5px solid white;
      }

      .cosmetic {
        background-color: #EAAEB5;
        border: 5px solid white;
        border-radius: 20px;
        margin:20px;
        color:white;
        font-size:30px;
      }

      .grid-2 {
        /* display:grid; */
        margin-bottom: 100px;
        width:100%;
        grid-template-rows: 400px;
        grid-template-columns: 25% 50%;
        font-size:30px;
        display:flex;
        justify-content: center;
      }

      .grid-2 img {
        height:125px;
        margin-bottom:25px;
        text-align: center;
      }

      .bold {
        font-weight:600;
        font-size:22px;
      }

      #g1,
      #g3,
      #g5,
      #g7,
      #g9,
      #g12 {
        text-align:right;
        margin-right: 50px;
      }


      .scroll {
        color:white;
        list-style: none;
        border: 4.5px solid white;
        border-radius: 15px;
        padding:10px;
        background-color:#EAAEB5;
      }

      #g0 {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        color:white;
        text-align:right;
      }

      #g1 {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
      }

      #g2 {
        grid-row-start:2;
        grid-row-end:2;
        grid-column-start: 2;
        grid-column-end: 4;
        
      }

      #g3 {
        grid-row-start:3;
        grid-row-end:3;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      #g4 {
        grid-row-start:3;
        grid-row-end:3;
        grid-column-start: 2;
        grid-column-end: 4;
      }

      #g5 {
        grid-row-start:4;
        grid-row-end:4;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      #g6 {
        grid-row-start:4;
        grid-row-end:4;
        grid-column-start: 2;
        grid-column-end: 4;
      }

      #g7 {
        grid-row-start:5;
        grid-row-end:5;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      #g8 {
        grid-row-start:5;
        grid-row-end:5;
        grid-column-start: 2;
        grid-column-end: 4;
      }

      #g9 {
        grid-row-start:6;
        grid-row-end:6;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      #g10 {
        grid-row-start:6;
        grid-row-end:6;
        grid-column-start: 2;
        grid-column-end: 4;
      }

     #g11 {
        grid-row-start:7;
        grid-row-end:7;
        grid-column-start: 2;
        grid-column-end: 4;
      } 

      #g12 {
        grid-row-start:7;
        grid-row-end:7;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .scroll {
        margin-bottom: 25px;
      }

      .postsec {
        display:flex;
        justify-content: space-between;
        width:100%;
        padding:50px;
      }

      #psimg {
        width:50%;
      }

      #pstext {
        width:50%;
        font-weight:400;
        color:#6E5B48;
        font-size:25px;
      }

      .divider {
        background-color: #EAAEB5;
      border: 5px solid white;
      margin:50px;
      border-radius: 20px;
      color: white;
      width: 40%;
      height:100px;
      text-align: center;
      display:flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 25px;
      font-size: 26px;
      }

      #pstext h2 {
        font-weight:400;
        font-size:45px;
      }

      .web-grid {
        display:grid;
        /* margin-top:150px; */
        width:100%;
        margin-top:200px;
        grid-template-rows: 400px;
        grid-template-columns: 25% 15% 60%;
      }


      #w1 {
        grid-row-start:1;
        grid-row-end:1;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .heart-divider {
        grid-row-start:1;
        display:flex;
        justify-content: center;
        /* width:15%; */
        grid-row-end:9;
        grid-column-start: 2;
        grid-column-end: 3;
        border-left: 9px solid #000000;
        height: 1000px;
        width: 1%;
        height:100%;
      }

      .heart-divider img {
        height:125px;
        position:fixed;
        margin-right:10px;
      }

      #w5 {
        grid-row-start:2;
        grid-row-end:2;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top:500px;
        
      }

      #w8 {
        grid-row-start:3;
        grid-row-end:3;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      #w11 {
        grid-row-start:4;
        grid-row-end:4;
        grid-column-start: 1;
        grid-column-end: 2;
      }

      .web-1 {
        display:flex;
        
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        grid-row-start:1;
        grid-row-end:1;
        grid-column-start: 3;
        grid-column-end: 4;
      }

      .web-2 {
        grid-row-start:2;
        grid-row-end:2;
        grid-column-start: 3;
        grid-column-end: 4;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .web-3 {
        grid-row-start:3;
        grid-row-end:3;
        grid-column-start: 3;
        grid-column-end: 4;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .web-4 {
        grid-row-start:4;
        grid-row-end:4;
        grid-column-start: 3;
        grid-column-end: 4;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      .web-1 img,
      .web-2 img,
      .web-3 img,
      .web-4 img {
        height:350px;
      }

      
      .web-2 img {
        margin-top:500px; 
        position:relative;
      }

      .web-1,
      .web-2,
      .web-3,
      .web-4 {
        margin:150px;
        text-align: left;
      }

      .web-1 p,
      .web-2 p,
      .web-3 p,
      .web-4 p {
        color:#6E5B48;
        padding:25px;
        font-size:24px;
      }

      .port .dropbtn { 
        border: none;
        outline: none;
        padding: 14px 16px;
        margin: 0;
      }
      
      .dropdown {
        display: none;
        text-align: left;
        position: absolute;
        font-size:20px;
        border: 5px solid white;
        border-radius:25px;
        list-style: none;
        min-width: 160px;
        z-index: 1;
      }
      
      .dropdown a {
        color: white;
        padding: 12px 16px;
        display: block;
        text-align: left;
      }
      
      .dropdown a:hover {
        font-weight: bold;
      }
      
      .port:hover .dropdown {
        display: block;
        background-color: #EAAEB5;
        text-align:left;
      }

      /* .port {
        position:relative;
        display:inline-block;
      }
      

      .dropdown {
        display:none;
        position:absolute;
        z-index:1;
      }


      .dropdown:hover {
        display:flex;
        position:absolute;
        flex-direction: column;
        height:400px;
        font-size:20px;
        border: 5px solid white;
        border-radius:25px;
        list-style: none;
        min-width:200px;
        color:#6E5B48;
        justify-content: space-around;
        background-color: #EAAEB5;
      }
      
      .port:hover + .dropdown {
        display:flex;
        position:absolute;
        flex-direction: column;
        height:400px;
        font-size:20px;
        border: 5px solid white;
        border-radius:25px;
        list-style: none;
        min-width:200px;
        color:#6E5B48;
        justify-content: space-around;
        background-color: #EAAEB5;
      }

      

      

      .dropdown a:hover {
        font-weight: bold;
      } */

      .eng {
        display:flex;
        width:100%;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom:175px;
      }

      .eng-1 {
        display:flex;
        width:100%;
        justify-content: space-around;
        flex-direction: row-reverse;
      }

      .eng h2,
      .eng-1 h2{
        color:#6E5B48;
        font-size:45px;
        font-weight:400;
      }

      .eng p,
      .eng-1 p {
        font-size:25px;
        color:#6E5B48;
      }

      .eng-img {
        width:45%;
      }

      .eng-text {
        width:45%;
      }

      .robot {
        width:100%;
        height:600px;
      }

      .frame-flex {
        display:flex;
        flex-direction: column;
        width:100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        color:#6E5B48;
      }

      .frame-flex p {
        margin-left:200px;
        margin-right:200px;
        margin-bottom:100px;
        text-align:left;
        font-size:25px;
      }

      .frame-flex h2 {
        font-size:45px;
        font-weight:600;
      }

      .frame-1 {
        background-color: #EBADB2;
        border:5px solid white;
        border-radius: 25px;
        height: 800px;
        align-items: center;
        width: 50%;
        display:flex;
        justify-content: center;
    }

    

    .art-img-2 img {
        height:600px;
        width:100%;
    }

    #hand,
    #draw,
    #clock {
        height:150px;
        align-items: center;
        display:flex;
        justify-content: center;
    }

    #game {
        height:200px;
        align-items: center;
        display:flex;
        justify-content: center;
    }

    .cosmetic p {
        font-size:40px;
        align-items: center;
        display:flex;
        justify-content: center;
    }

    .achaward img {
        border-radius:15px;
    }

    .animate {
        display:inline-block;
        position:relative;
      }
      
      .animate:after {
        content:'';
        position:absolute;
        width:100%;
        transform: scaleX(0);
        height:3px;
        bottom:-10px;
        left:0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
        
      }
      
      
      .animate:hover:after {
        transform:scaleX(1);
        transform-origin: bottom left;
      }

      

      nav {
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name: slideInLeft;
      }

      .original {
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-name: slideInLeft;
      }

      @keyframes text-animation {
        0% {margin-top: -2em;}
        12.5%{margin-top: -2em;}
        25%{margin-top: -8em;}
        37.5%{margin-top: -15em;}
        50%{margin-top: -22em;}
        62.5%{margin-top: -15em;}
        75%{margin-top: -8em;}
        87.5%{margin-top: -2em;}
        100%{margin-top: -2em;}
      }

      .description div:first-child {
        animation: text-animation 20s infinite;
      }

      .description {
        text-align:left;
        margin-top:5em;
        margin-bottom:1em;
        overflow:hidden;
        height:5em;
    }
    
}

/* phone query */
@media (max-width:1024px) {
    nav {
        width:100%;
        display:flex;
        padding-top:0.2em;
        margin-bottom:1em;
        flex-direction: row;
        justify-content: space-around;
        animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
    }

    nav img {
        height:6em;
        width:100%;
    }

    nav a {
        text-decoration: none;
        color: #6E5B48;
        font-weight: 500;
        font-size:10px;
}

.original {
    width: 100%;
    justify-content: space-around;
    display: flex;
    margin-bottom: 4em;
}

.dropdown {
    display: none;
    text-align: left;
    position: absolute;
    font-size: 20px;
    border: 5px solid white;
    border-radius: 25px;
    list-style: none;
    min-width: 160px;
    z-index: 1;
}

img {
    width:100px;
}

.original {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
}

.header-flex {
    padding-left:1.5em;
}

.header-flex h1 {
    color: #6E5B48;
    font-size: 32px;
    font-weight: 500;
}

.header-flex h2 {
    font-size: 20px;
    font-weight: 500;
    color: #6E5B48;
}

.description {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow: hidden;
    height: 3em;
}


@keyframes text-animation {
    0% {margin-top: 0;}
    12.5%{margin-top: 0;}
    25%{margin-top: -2.5em;}
    37.5%{margin-top: -4.5em;}
    50%{margin-top: -6.5em;}
    62.5%{margin-top: -4.5em;}
    75%{margin-top: -2.5em;}
    87.5%{margin-top: 0;}
    100%{margin-top: 0;}
  }

  .description div:first-child {
    animation: text-animation 20s infinite;
  }


  .middle-flex {
    display:flex;
    
  }

  .thirds {
    width: 50%;
    display: flex;
    flex-direction: column;
    height:15em;
    justify-content: space-around;
    font-size: 25px;
    text-align:left;
    color: #6E5B48;
    background: rgb(241,158,160);
background: linear-gradient(90deg, rgba(241,158,160,1) 41%, rgba(246,221,224,1) 100%);
}

    .thirds h3 {
        font-weight:500;
    }

    .code.active {
        transform: translateY(0);
        opacity: 1;
    }

    .thirds > h3 {
        display: inline-block;
    }

    .code {
        transform: translateX(-150px);
        opacity: 0;
        position: relative;
        transition: 1s all ease;
    }

    .line-flex {
        display:flex;
        flex-direction: row;
        width:50%;
        justify-content: space-around;

    }

     #special {
        height:5em;
        margin-top:0;
    }

    .line {
        border-left: 3px solid #6E5B48;
        height: 2em;
        width:45%;
        justify-content: space-around;
        flex-direction: column;
        display:flex;
        margin-bottom:0;
    }

    .home-intro {
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        width:100%;
    }

    .hearts img {
        height:2em;
        width:10%;
        aspect-ratio: 1:1;
    }

    .intro-img {
        justify-content: center;
        text-align:center;
    }

    .intro-img img {
        border-radius:100px;
        height:10em;
        width:40%;
    }

}
